.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exchangeCard {
  border: 1px solid #ff0;
  margin: 10px 30px;
  padding: 20px;
}

.currencys{
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.rates{
  display: flex;
  justify-content: space-between;
} 